.main-container {
    min-height: 700px;
    padding-top: 50px;
}

.msg-container {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: blur(60px);
    border-radius: 10px 10px 0 0;
    padding: 50px 20px;

    position: fixed;
    /*     padding: 40px 10px 10px 10px; */
    margin: 0;
    transform: translateY(-100%);
    top: 100%;
    left: 5%;
    z-index: 1022;

    cursor: pointer;
    user-select: none;

    transition-duration: 1s;
}

.msg-container {
    background-color: rgba(20, 20, 20, .80);
    transition-duration: 0.2s;
}

.msg-container:hover {
    transition-duration: 0.2s;
    background-color: rgba(100, 100, 100, .80);
}

.msg-hide {
    opacity: 0;
}


.msg {
    text-align: center;
    margin: auto;
    max-width: 350px;
    color: white;
    font-size: 200%;
    font-weight: bold;
    position: relative;
}