<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 p-3 p-md-5 text-left text-white overflow-hidden">
        <div class="pb-3">
            {% if post.user %}
                <a href="{% url 'profile-page' post.user.id %}" class="deco-none">
                    <p class="lead float-right">
                        {{ post.user.username }}
                    </p>
                </a>
            {% endif %}
            <a href="{% url 'post-page' post.pk %}" class="deco-none">
                <h2 class="display-5 d-table">
                    {{ post.header }}
                </h2>
            </a>
            <p class="float-right">{{ post.date|date:"Y-m-d H:i" }}</p>

            {% if post.user.id == session.id %}
                <a href="{% url 'post-edit' post.pk %}">
                    <button class="btn btn-outline-warning">
                        Edit
                    </button>
                </a>
            {% endif %}
        </div>
        <a href="{% url 'post-page' post.pk %}">
            <img class="card-img"
                 src="{{ post.image_url }}"
                 alt="{{ post.header }}"/>
        </a>

        {% with post.comment_set.count as comment_count %}
            {% if comment_count %}
                <p class="comment-count mb-0 mt-1">
                    {{ comment_count }} comment{% if comment_count > 1 %}s{% endif %}
                </p>
            {% endif %}
        {% endwith %}
    </div>
</div>