<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 p-3 p-md-5 text-left text-white overflow-hidden">
        <div class="pb-3">
            {% if post.user %}
                <p class="lead float-right" style="cursor: pointer"
                   onclick="window.location = '/profile/{{ post.user.id }}'">
                    {{ post.user.username }}
                </p>
            {% endif %}
            <h2 class="display-5 d-table" style="cursor:pointer;"
                onclick="window.location = 'post/{{ post.id }}'">
                {{ post.header }}
            </h2>
            <p class="float-right">{{ post.date|date:"Y-m-d H:i" }}</p>

            {% if editable %}
                <a href="/post_edit/{{ post.id }}">Edit</a>
            {% endif %}
        </div>
        <a href="post/{{ post.id }}">
            <img class="card-img" src="/static/images/{{ post.image }}"/>
        </a>

        {% with post.comment_set.count as comment_count %}
            {% if comment_count %}
                <p class="comment-count mb-0 mt-1">
                    {{ comment_count }} comment{% if comment_count > 1 %}s{% endif %}
                </p>
            {% endif %}
        {% endwith %}
    </div>
</div>