{% extends 'base.html' %}

{% block navbar %}
    {% if session.username %}
        <a class="py-2" href={% url 'upload' %}>Upload</a>
        <a class="py-2 d-md-inline-block" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="py-2" href={% url 'login' %}>Login</a>
        <a class="py-2 d-md-inline-block" href="{% url 'register' %}">Register</a>
    {% endif %}
    <a class="py-2 d-md-inline-block" href="/">
        <img style="width: 20px; object-position: 0 -2px" src="/static/icon.ico" alt="MEMPAGE">
        MEMPAGE
    </a>
{% endblock %}

{% block content %}
    <div id="wall" class="" style="max-width: 600px; margin: auto">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-dark mr-md-3 p-3 p-md-5 text-left text-white overflow-hidden">
                <div class="jumbotron bg-dark px-0 pt-5 mb-0">
                    <h1>User <a class="font-weight-bold">{{ user.username }}</a></h1>
                </div>
                {% for key, value in stats.items %}
                    <div class="media py-3">
                        <p class="lead">
                            {{ key }} - {{ value }}
                        </p>
                        <hr/>
                    </div>
                {% endfor %}
                {% if session.username == user.username %}
                    <div class="mt-5">
                        <a class="btn btn-outline-light mr-2" href="{% url 'my-posts' %}">View your posts</a>
                        <a class="btn btn-outline-light" href={% url 'profile-edit' %}>Edit your profile</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}