{% extends 'base.html' %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        {#        <div class="col-md-5 p-lg-5 mx-auto my-5">#}
        <h1 class="display-4 font-weight-normal">MemPage</h1>
        <p class="lead font-weight-normal">Ale super!</p>
        {#        </div>#}
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div id="wall" class="" style="max-width: 600px; margin: auto">
        {% if not posts %}
            <h2 class="display-5 text-center">
                There are no posts :(
            </h2>
        {% else %}
            {% for post in posts %}
                {% include 'elements/post.html' %}
            {% endfor %}

        {% endif %}
    </div>
{% endblock %}